
@{
    ViewData["Title"] = "Files";
}

@model List<UserFile> 

<h1>Files</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Created Date</th>
            <th>File Status</th>
            <th>Download Link</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.FileName</td>
                <th>@(item.CreatedDate != null ? item.CreatedDate : "-")</th>
                <th>@item.FileState</th>
                <th>
                    <a href="~/files/@item.FilePath" class="btn btn-primary @(item.FileState == FileState.Creating ? "disabled" : "")" >Download</a>
                </th>
            </tr>
        }
        
    </tbody>
   
</table>
